{
    "_meta": {
        "hostvars": {}
    },
    "all": {
        "children": [
            "app",
            "db",
            "ungrouped"
        ]
    },
    "app": {
        "hosts": [
            "51.250.83.112",
            "51.250.83.12"
        ]
    },
    "db": {
        "hosts": [
            "158.160.44.4",
            "158.160.44.46"
        ]
    }
}
